{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
  <title>GroupChat</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <link rel='stylesheet prefetch'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'home/css/style_home.css' %}" />
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="frame">
      <div class="col-3">
        <div id="sidepanel">
          <div style="margin: 15px;" id="profile">
            <p>{{ user.username }}</p>
            <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            <hr>
          </div>
          <div>
            {% for group in groups %}
            <a href="{% url 'home:group' group %}">
              <p style="margin: 15px;" class="name">{{ group.group_name }}</p>
            </a>
            {% endfor %}
            </ul>
          </div>

          <div id="bottom-bar">
            <div class="collapse-content">
              <form method="POST">
                {% csrf_token %}
                <fieldset class='form-group'>
                  <legend id='form-legend' class="border-bottom mb-4">Create Group</legend>
                  {% crispy g_form %}
                </fieldset>
              </form>
            </div>
            <button id="addcontact" class="collapse-button"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
              <span>Create Group</span></button>
          </div>
        </div>
      </div>

      <div class="col-9 content">
        {% if group %}
        <div class="contact-profile">
          <p>{{ group.group_name }}</p>

          <div id="older_msg_div">
            <button class="btn btn-outline-info" onclick="call(video=false)">Audio Call</button>
            <button class="btn btn-outline-info" onclick="call(video=true)">Video Call</button>
            <button class="btn btn-outline-info" id="answer_call" onclick="answer()">Answer Call</button>
            <a href="{% url 'home:add_members' group %}" style="text-decoration:none;">
              <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>AddMembers</span></a>
          </div>
        </div>

        <div class="messages scroll">
          <ul id="chat-log">
            {% for msg in fetch_all_message %}
            <li id="{{msg.id}}">
              <small> <b class="check_user">{{msg.parent_user.username}}</b></small>
                <p>{{msg.message_detail.msg}}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="message-input">
          <div class="wrap">
            <input id="chat-message-input" type="text" placeholder="Write your message..." />
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button id="chat-message-submit" class="submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        {{ group.group_name|json_script:"group_name" }}
        {% endif %}
      </div>
    </div>
  </div>

  <div>
    <div id="video-call-div">
      <div id="video-call">
        <video width="100%" height="100%" id="local-video" autoplay></video>
      </div>
      <div class="call-action-div">
        <button class="btn btn-secondary btn-lg" id='mute_video' onclick="muteVideo()">Mute Video</button>
        <button class="btn btn-secondary btn-lg" id='mute_audio' onclick="muteAudio()">Mute Audio</button>
        <button class="btn btn-secondary btn-lg" id='sharescreen' onclick="sharescreen()">Share Screen</button>
        <button class="btn btn-secondary btn-lg" onclick="stopCall(is_send=true)">Stop Call</button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'home/javascript/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/javascript/main_home.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/javascript/reconnecting-websocket.js' %}"></script>
  <script>
    let roomName
    try {
      roomName = JSON.parse(document.getElementById('group_name').textContent);
      console.log(roomName)
    }
    catch (e) {
      roomName = JSON.parse(document.getElementById('group_name'));
    }

    if (roomName) {

      var fromUser = '{{request.user.username}}'

      // scrolling to bottom
      var messageBody = document.querySelector('.scroll');
      messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

      const check_user = document.querySelectorAll(".check_user")
      for (let i = 0; i < check_user.length; i++) {
        if (check_user[i].innerText === '{{request.user.username}}') {
          check_user[i].innerText = 'You'
        }
      }

      // storing remote message
      var remoteRTCMessage = {}
      var iceCandidatesFromCaller = {};
      var alreadyConnected = false

      // storing local and remote videos and play
      var localStream = new MediaStream
      var remoteStream = new MediaStream

      var our_video = document.getElementById("local-video");
      var totalUser

      // store main RTCpeerConnection
      var peerConnList = {}
      var audioSenderList = {}
      var videoSenderList = {}

      var screenStream

      let ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";

      var chatSocket = new WebSocket(
        ws_scheme + window.location.host + '/ws/chat/' + roomName + '/'
      );

      chatSocket.addEventListener('message', message_fun)

      // sending message to server using websocket
      document.querySelector('#chat-message-input').onkeyup = (e) => {
        if (e.keyCode === 13) {  // enter, return
          document.querySelector('#chat-message-submit').click();
        }
      };
      var regex = new RegExp("^[a-zA-Z0-9\\s?.,']+$");

      document.querySelector('#chat-message-submit').onclick = (e) => {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if (!regex.test(message) || message.trim().length == 0) {
          event.preventDefault();
          return false;
        }

        chatSocket.send(JSON.stringify({
          'message': message.trim(),
          'msg_type': 'TEXT_MESSAGE',
          'fromUser': fromUser,
        }));
        messageInputDom.value = '';
      }
    }
    var byUser

    const add_element = (data) => {
      const user = data.fromUser === '{{request.user.username}}' ? "You" : data.fromUser
      const error_msg = data.error_message === 'MESSAGE_OUT_OF_LENGTH' ? "<br/>" + "Error:Msg size must be less then 50 char." + "<br/>" + " This Message not sent.." : false

      ele = `<li id=${data.msg_id}><small> <b class="check_user">${user}</b><p>${data.message}</p></li>
            <small><br/>${error_msg ? error_msg : ''}</small>`
      document.querySelector('#chat-log').innerHTML += ele
      messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    }

    async function message_fun(e) {
      const data = JSON.parse(e.data);
      console.log(data.msg_type)

      if (data.msg_type === 'TEXT_MESSAGE') {
        add_element(data)
      }
      else if (data.msg_type === 'ERROR_OCCURED') {
        if (data.error_message === 'MESSAGE_OUT_OF_LENGTH') {
          add_element(data)
        }
        else if (data.error_message === 'UN_AUTHENTICATED') {
          alert("You are not authenticated user!!!Login Again..")
        }
      }
      else if (data.msg_type === 'users_connected') {
        totalUser = Object.keys(data['users_connected'])

        ele = `<li><small><p style:{float:'center'}>${data.fromUser} has joined</p></li>`

        document.querySelector('#chat-log').innerHTML += ele
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
      }
      else if (data.msg_type === 'disconnected') {
        delete totalUser[data.fromUser]
        ele = `<li><small><p style:{float:'center'}>${data.fromUser} has left</p></li>`

        document.querySelector('#chat-log').innerHTML += ele
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
      }

      else if (data.msg_type === 'offer') {
        if (data.fromUser !== '{{request.user.username}}' && data.toUser == '{{request.user.username}}') {
          //when other called you

          var calling = `${data.fromUser} is calling to ${data.toUser}`;

          isVideo = data.is_video
          byUser = data.fromUser
          toUser = data.toUser

          remoteRTCMessage[byUser] = data.offer

          if (alreadyConnected) {

            if (peerConnList[toUser]) {
              peerConnList[toUser].setRemoteDescription(new RTCSessionDescription(data.offer));
              console.log("offer setRemoteDescription from alreadyConnected");

              const answer = await peerConnList[toUser].createAnswer();
              // console.log("offer created", answer);

              await peerConnList[toUser].setLocalDescription(answer);
              // console.log("offer setLocalDescription");

              //to send a answer
              chatSocket.send(JSON.stringify({
                msg_type: 'answer',
                fromUser: fromUser,
                answer: answer,
                toUser: byUser
              }));
            }

            else if (peerConnList[byUser]) {
              peerConnList[byUser].setRemoteDescription(new RTCSessionDescription(data.offer));
              console.log("offer setRemoteDescription from alreadyConnected");

              const answer = await peerConnList[byUser].createAnswer();
              // console.log("offer created", answer);

              await peerConnList[byUser].setLocalDescription(answer);
              // console.log("offer setLocalDescription");

              //to send a answer
              chatSocket.send(JSON.stringify({
                msg_type: 'answer',
                fromUser: fromUser,
                answer: answer,
                toUser: byUser
              }));
            }

            // console.log("send answer");
          }

          else {
            //show answer button
            document.getElementById("answer_call").innerHTML = calling;
            document.getElementById("answer_call").style.display = "inline";
          }
        }
      }

      else if (data.msg_type === 'answer') {
        if (data.fromUser !== '{{request.user.username}}' && data.toUser == '{{request.user.username}}') {
          //when other accept our call

          byUser = data.fromUser
          toUser = data.toUser
          remoteRTCMessage[byUser] = data.answer

          if (peerConnList[toUser]) {
            await peerConnList[toUser].setRemoteDescription(new RTCSessionDescription(data.answer));
          }
          else if (peerConnList[byUser]) {
            await peerConnList[byUser].setRemoteDescription(new RTCSessionDescription(data.answer));
          }
          // console.log("offer setRemoteDescription");
          // console.log("Call Started. They Answered");
        }
      }

      else if (data.msg_type === 'candidate') {
        if (data.fromUser !== '{{request.user.username}}' && data.toUser == '{{request.user.username}}') {
          byUser = data.fromUser
          toUser = data.toUser

          try {
            if (peerConnList[toUser]) {
              // console.log("ICE candidate Added");
              // console.log(data.candidate)
              data.candidate && (await peerConnList[toUser].addIceCandidate(data.candidate));
            }
            else {
              // console.log("ICE candidate Pushed");
              if (iceCandidatesFromCaller.hasOwnProperty(byUser)) {
                var list = iceCandidatesFromCaller[byUser]
              }
              else {
                var list = []
              }
              list.push(data.candidate)
              iceCandidatesFromCaller[byUser] = list;
            }
          } catch (e) {
            console.error('Error adding received ice candidate', e);
          }
        }
      }

      else if (data.msg_type === 'stop') {
        if (data.fromUser !== '{{request.user.username}}') {
          // console.log('stop');
          await stopCall(is_send = false);
        }
      }
    }

    let iceServers = {
      iceServers: [
        { urls: "stun:stun.l.google.com:19302" }
      ],
    };

    async function get_media(is_video = false, is_screen = false) {

      if (!is_screen) {
        isVideo = is_video
        document.getElementById("mute_video").innerHTML = isVideo == true ? "Stop Video" : "Video";

        await navigator.mediaDevices.getUserMedia({
          video: is_video,
          audio: true,
        })
          .then((stream) => {
            localStream = stream
            our_video.srcObject = stream
            our_video.onloadeddata = () => {
              our_video.play();
            }

            // console.log("streaming");
          })
          , (e => {
            alert('getUserMedia() error: ' + e.name);
          })
      }

      else if (is_screen) {
        await navigator.mediaDevices.getDisplayMedia({
          video: {
            cursor: "always"
          },
          audio: true
        })
          .then((stream) => {
            screenStream = stream
            our_video.srcObject = stream
            our_video.onloadeddata = () => {
              our_video.play();
            };
          })
          , (e => {
            alert('getUserMedia() error: ' + e.name);
          })
      }
    }

    async function creatertcpeer(user) {
      peerConnList[user] = new RTCPeerConnection(iceServers);
      // console.log("RTCPeerConnection created");

      peerConnList[user].addEventListener('track', async (event) => {
        var remote_video = document.getElementById(user);
        remote_video.srcObject = event.streams[0]

        remote_video.onloadeddata = () => {
          remote_video.play();
        }
      });

      // Listen for local ICE candidates on the local RTCPeerConnection
      peerConnList[user].addEventListener('icecandidate', event => {
        if (event.candidate) {
          //to send a candidate
          // // console.log("Send Call");
          chatSocket.send(JSON.stringify({
            msg_type: 'candidate',
            fromUser: fromUser,
            toUser: user,
            candidate: event.candidate
          }));
          // console.log("send candidate");
        }
      });

      audioSenderList[user] = peerConnList[user].addTrack(localStream.getAudioTracks()[0], localStream)
      if (isVideo) {
        videoSenderList[user] = peerConnList[user].addTrack(localStream.getVideoTracks()[0], localStream)
      };
    }

    async function call(isVideo) {
      isVideo = isVideo
      document.getElementById("video-call-div").style.display = "inline"
      document.getElementById("frame").style.display = "none"

      await get_media(is_video = isVideo)
      alreadyConnected = true

      for (var i = 0; i < totalUser.length; i++) {
        if (totalUser[i] !== fromUser) {
          var remote_video = document.createElement('video');
          remote_video.setAttribute("class", "video")
          remote_video.setAttribute("id", totalUser[i])
          remote_video.setAttribute("width", "100%");
          remote_video.setAttribute("height", "100%");
          remote_video.autoplay = true;

          const element = document.getElementById("video-call")
          element.appendChild(remote_video);

          await creatertcpeer(totalUser[i])

          const offer = await peerConnList[totalUser[i]].createOffer();
          await peerConnList[totalUser[i]].setLocalDescription(offer);

          //to send a call
          chatSocket.send(JSON.stringify({
            msg_type: 'offer',
            fromUser: fromUser,
            toUser: totalUser[i],
            offer: offer,
            is_video: is_video
          }));
        }
      }
    }

    async function answer() {
      document.getElementById("video-call-div").style.display = "inline"
      document.getElementById("frame").style.display = "none"

      await get_media(is_video = isVideo)
      alreadyConnected = true

      for (var i = 0; i < totalUser.length; i++) {
        if (totalUser[i] !== fromUser) {
          var remote_video = document.createElement('video');
          remote_video.setAttribute("class", "video")
          remote_video.setAttribute("id", totalUser[i])
          remote_video.setAttribute("width", "100%");
          remote_video.setAttribute("height", "100%");
          remote_video.autoplay = true;

          const element = document.getElementById("video-call")
          element.appendChild(remote_video);

          await creatertcpeer(totalUser[i])

          if (totalUser[i] == byUser) {

            peerConnList[totalUser[i]].setRemoteDescription(new RTCSessionDescription(remoteRTCMessage[totalUser[i]]));
            // console.log("offer setRemoteDescription");

            if (iceCandidatesFromCaller[totalUser[i]].length > 0) {
              //I am having issues with call not being processed in real world (internet, not local)
              //so I will push iceCandidates I received after the call arrived, push it and, once we accept
              //add it as ice candidate
              //if the offer rtc message contains all thes ICE candidates we can ingore this.
              var can = iceCandidatesFromCaller[totalUser[i]]

              for (let i = 0; i < can.length; i++) {
                //
                let candidate = can[i];
                // console.log("ICE candidate Added From queue");
                try {
                  await peerConnList[totalUser[i]].addIceCandidate(candidate)
                } catch (error) {
                  // console.log(error);
                }
              }
              iceCandidatesFromCaller = {};
              // console.log("ICE candidate queue cleared");
            }

            const answer = await peerConnList[totalUser[i]].createAnswer();
            // console.log("offer created", answer);

            await peerConnList[totalUser[i]].setLocalDescription(answer);
            // console.log("offer setLocalDescription");

            //to send a answer
            chatSocket.send(JSON.stringify({
              msg_type: 'answer',
              fromUser: fromUser,
              answer: answer,
              toUser: totalUser[i],
            }));
          }
          else{
            const offer = await peerConnList[totalUser[i]].createOffer();
            await peerConnList[totalUser[i]].setLocalDescription(offer);

            //to send a call
            chatSocket.send(JSON.stringify({
              msg_type: 'offer',
              fromUser: fromUser,
              toUser: totalUser[i],
              offer: offer,
              is_video: is_video
            }));
          }
          // console.log("send answer");
        }
      }
    }

    let isAudio = true
    let isVideo = true
    let isScreen = false

    function muteAudio() {
      isAudio = !isAudio
      localStream.getAudioTracks()[0].enabled = isAudio
      document.getElementById("mute_audio").innerHTML = isAudio == true ? "Mute Audio" : "Unmute Audio";
    }

    async function muteVideo() {
      isVideo = !isVideo
      console.log(isVideo)

      if(videoSenderList.length) {
        localStream.getVideoTracks()[0].enabled = isVideo
      }
      else if(isVideo) {
        await localStream.getTracks().forEach((track) => { track.stop() });
        await get_media(is_video = true)

        for (var i = 0; i < totalUser.length; i++) {
          if (totalUser[i] !== fromUser) {
            audioSenderList[totalUser[i]] = peerConnList[totalUser[i]].addTrack(localStream.getAudioTracks()[0], localStream)
            videoSenderList[totalUser[i]] = peerConnList[totalUser[i]].addTrack(localStream.getVideoTracks()[0], localStream)

            const offer = await peerConnList[totalUser[i]].createOffer();
            // console.log("offer created");

            await peerConnList[totalUser[i]].setLocalDescription(offer);
            // console.log("offer setLocalDescription");

            //to send a call
            chatSocket.send(JSON.stringify({
              msg_type: 'offer',
              fromUser: fromUser,
              toUser: totalUser[i],
              offer: offer,
              is_video: is_video
            }));
          }
        }
      }
      // console.log("send offer")
      document.getElementById("mute_video").innerHTML = isVideo == true ? "Stop Video" : "Video";
    }

    async function sharescreen() {
      isScreen = !isScreen

      if (isScreen) {
        await get_media(is_video = false, is_screen = isScreen)

        if (videoSenderList.length) {
          for (var i = 0; i < totalUser.length; i++) {
            if (totalUser[i] !== fromUser) {
              videoSenderList[totalUser[i]].replaceTrack(screenStream.getVideoTracks()[0]);
            }
          }
        }

        else {
          for (var i = 0; i < totalUser.length; i++) {
            if (totalUser[i] !== fromUser) {

              // peerConn.removeTrack(audioSender);
              await peerConnList[totalUser[i]].addTrack(screenStream.getVideoTracks()[0], screenStream)
              // await peerConn.addTrack(screenStream.getAudioTracks()[0], screenStream)

              const offer = await peerConnList[totalUser[i]].createOffer();
              // console.log("offer created");

              await peerConnList[totalUser[i]].setLocalDescription(offer);
              // console.log("offer setLocalDescription");

              //to send a call
              chatSocket.send(JSON.stringify({
                msg_type: 'offer',
                fromUser: fromUser,
                toUser: totalUser[i],
                offer: offer,
                is_video: isVideo
              }));
            }
          }
          console.log("send offer from screen share")
        }
      }

      else {
        await screenStream.getTracks().forEach((track) => { track.stop() });

        if (videoSenderList) {
          for (var i = 0; i < totalUser.length; i++) {
            if (totalUser[i] !== fromUser) {
              videoSenderList[totalUser[i]].replaceTrack(localStream.getVideoTracks()[0]);
            }
          }
        }
        else {
          our_video.srcObject = null

          for (var i = 0; i < totalUser.length; i++) {
            if (totalUser[i] !== fromUser) {
              var remote_video = document.getElementById(user);
              remote_video.srcObject = null
            }
          }
        }
      }

      document.getElementById("sharescreen").innerHTML = isScreen == true ? "Stop share Screen" : "Share Screen";
    }

    async function stopCall(is_send = true) {
      try {
        await localStream.getTracks().forEach((track) => { track.stop() });
        await screenStream.getTracks().forEach((track) => { track.stop() });
        screenStream = null
        await peerConn.removeStream(localStream);
        await peerConn.close();
      }
      catch (e) { }

      peerConn = null

      our_video.srcObject = null
      localStream = null
      remoteStream = null
      remoteRTCMessage = {}
      videoSender = null
      audioSender = null
      isVideo = true
      isAudio = true
      isScreen = false
      alreadyConnected = false

      // console.log("Vid off");
      document.getElementById("video-call-div").style.display = "none"
      document.getElementById("answer_call").style.display = "none";
      document.getElementById("sharescreen").innerHTML = "Share Screen";
      document.getElementById("mute_video").innerHTML = "Video";
      document.getElementById("mute_video").innerHTML = "Audio";
      document.getElementById("frame").style.display = "flex"

      //to stop a call
      // console.log("Send Call");
      if (is_send) {
        chatSocket.send(JSON.stringify({
          msg_type: 'stop',
          'fromUser': fromUser,
        }));
        // console.log("send stop");
      }
    }
  </script>
</body>

</html>